.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.item-center {
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.border-radius {
    border-radius: 15px;
    border: 0;
}